In [1]:
ls = [1234,34,125,90,258,2599,572,601]

In [5]:
ls = list(filter(lambda x:x % 3 != 0,ls))
ls.sort()
ls

[34, 125, 572, 601, 1234, 2599]

In [30]:
a = 10
def printx(x):
    print(x)

In [32]:
print(a)
printx(a)
print(x)
type(a)

10
10
20

int

In [33]:
st = '<class: int>'

In [34]:
st

'<class: int>'

In [35]:
st.strip(':')

'<class: int>'

In [41]:
st.strip('>')

'<class: int'

In [37]:
st += '>'

TypeError: unsupported operand type(s) for -: 'str' and 'str'